{% extends 'admin/adminbase.html.twig' %}
{% block body %}

    <div class="container-fluid">
        <div class="row no-gutters">
            <div class="col-12">
                <h4 class="display-4 text-left">
                    <a class="btn btn-success" href="{{ path('admin_task_create') }}">Create new task</a><br>
                </h4>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row no-gutters justify-content-center">
            <div class="col-8">
                {% for message in app.flashes('success') %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        {{ message}}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="container-fluid pl-25">
        <div class="row no-gutters justify-content-left ">
            <h4 class="col-12">
                <h4>All Tasks</h4>
                    <div class="container-fluid">
                        <div class="row no-gutters">
                            <div class="col-9">
                                <table class="table table-hover table-sm">
                                    <thead class="thead-light">
                                    <tr>
                                        <th scope="col">Author</th>
                                        <th scope="col">Executor</th>
                                        <th scope="col">Task</th>
                                        <th scope="col">Date Create</th>
                                        <th scope="col">Execute</th>
                                        <th scope="col">Update</th>
                                        <th scope="col">Delete</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for task_item in task %}
                                        <tr>
                                            <td>{{ task_item.author }}</td>
                                            <td>{{ task_item.executor }}</td>
                                            <td>{{ task_item.content }}</td>
                                            <td>{{ task_item.create_at | date('d/m/Y H:i') }}</td>
                                            <td>{{ task_item.execute }}</td>
                                            <td><a class = "btn btn-primary" href="{{ path('admin_task_update', {'id':task_item.id}) }}">
                                                    Update task</a></td>
                                            <td><a class = "btn btn-danger" href="{{ path('admin_task_delete', {'id':task_item.id}) }}">
                                                    Delete</a></td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
        </div>
        </div>
    </div>


{% endblock %}